.catalog-item {
  display: flex;
  flex-direction: column;

  &__link {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: $font-size + 2px;
    line-height: $line-height - 10px;
    color: #000000;
  }

  &__features {
    font-size: $font-size - 2px;
  }

  &__price {
    font-weight: bold;
    line-height: $line-height--middle;
    color: #000000;
  }
}
