.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  max-width: 1150px;

  @media (min-width: $screen-desktop) {
    margin: auto;
    margin-top: 75px;
    padding-left: 225px;
    min-height: 562px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: $font-size + 3;
    color: #000000;

    @media (min-width: $screen-desktop) {
      font-size: $font-size--middle + 36;
    }
  }

  &__info {
    margin-top: 27px;
    border-collapse: collapse;

    tbody {

      @media (min-width: $screen-tablet) {
        display: flex;
        flex: 0 0 auto;
      }

      @media (min-width: $screen-desktop) {
        flex-direction: column;
        width: 350px;
      }
    }

    tr {

      @media (min-width: $screen-tablet) {
        flex: 0 0 auto;
        width: 334px;
      }
    }
  }

  &__info-address .contacts__info-value {

    @media (max-width: $screen-tablet) {
      padding-right: 42px;
    }
  }

  &__info-field {
    width: 70px;
    vertical-align: top;
  }

  &__info-value {
    padding-left: 8px;
  }

  &__btn {
    width: 260px;
    align-self: center;
    text-transform: uppercase;

    @media (max-width: $screen-desktop - 1) {
      margin-top: 39px;
      margin-bottom: 39px;
    }

    @media (min-width: $screen-desktop) {
      position: absolute;
      bottom: 105px;
      left: 225px;
    }
  }
}
