.field-radio__title {
  font-family: $font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.field-radio__name-text {
  font-family: $font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000;
}
