.field-radio {
  &__title {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 8px;
    color: #63d1bb;
  }

  &__name-text {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 6px;
    color: #000000;
  }
}
