.field-text {
  display: flex;
  flex-direction: column;

  &__name {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 6;
    color: #000000;
  }

  &__title {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 8;
    color: $color-main;
  }
}
