.field-checkbox {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: row;
  }

  &__wrap {

    @media (min-width: $screen-tablet) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: 250px;
    }

    @media (min-width: $screen-desktop) {;
      flex-basis: 350px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 8;
    color: $color-main;

    @media (min-width: $screen-tablet) {
      flex-shrink: 0;
      width: 175px;
    }
  }

  &__name-text {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 6;
    color: #000000;
  }
}
