.field-radio {
  padding-top: 10px;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: row;
    padding-top: 55px;
  }

  &__wrap {

    @media (min-width: $screen-tablet) {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $screen-desktop) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 8;
    color: #63d1bb;

    @media (min-width: $screen-tablet) {
      flex-shrink: 0;
      padding-top: 8px;
      width: 175px;
    }

    @media (min-width: $screen-desktop) {
      padding-top: 5px;
      padding-left: 65px;
    }
  }

  &__input-wrap {
    padding-bottom: 15px;

    @media (min-width: $screen-tablet) {
      padding-bottom: 47px;
    }
  }

  &__name-text {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-right: 5px;
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 6;
    color: #000000;

    @media (min-width: $screen-tablet) {
      padding-left: 50px;
    }

    @media (min-width: $screen-desktop) {
      font-size: $font-size--middle + 2;
      padding-left: 55px;
    }
  }
}
