.fields-user {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    padding-top: 42px;
  }

  &__wrap {

    @media (min-width: $screen-tablet) {
      width: 100%;
    }

    @media (min-width: $screen-desktop) {
      flex-basis: 700px;
      padding-left: 10px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 8;
    color: $color-main;

    @media (min-width: $screen-tablet) {
      padding-top: 25px;
      flex-shrink: 0;
      width: 170px;
    }

    @media (min-width: $screen-desktop) {
      padding-top: 15px;
      padding-left: 65px;
    }
  }
}
