.form {
  display: flex;
  flex-direction: column;

  &__descr {
    p {
      font-size: $font-size - 2px;
      line-height: $line-height--middle;
    }
  }

  &__required {
    font-size: $font-size - 2px;
    line-height: $line-height--middle;
  }
}
