.form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-top: 10px;

  @media (min-width: $screen-tablet) {
    padding-top: 75px;
  }

  @media (min-width: $screen-desktop) {
    margin: auto;
    padding-top: 125px;
    padding-bottom: 50px;
  }

  &__descr {
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: $screen-tablet) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (min-width: $screen-desktop) {
      margin-left: 185px;
      max-width: 700px;
    }

    p {
      margin: 0;
      padding: 0;
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: $font-size - 2;
      line-height: $line-height--middle;

      @media (min-width: $screen-tablet) {
        padding-top: 0;
        font-size: $font-size--middle;
        line-height: $line-height;
      }
    }
  }

  &__required {
    padding-left: 30px;
    padding-right: 30px;
    font-size: $font-size - 2;
    line-height: $line-height--middle;

    @media (min-width: $screen-tablet) {
      position: absolute;
      right: 23px;
      bottom: 10px;
    }

    @media (min-width: $screen-desktop) {
      right: 200px;
      bottom: 60px;
    }

    p {
      margin: 0;
      padding: 0;
      padding-top: 8px;
      padding-bottom: 5px;
      font-size: $font-size - 1;
      line-height: $font-size--middle - 1;

      @media (min-width: $screen-tablet) {
        font-size: $font-size--middle;
        line-height: $line-height;
      }
    }
  }

  &__btn {
    width: 260px;
    align-self: center;
    margin-top: 27px;

    @media (min-width: $screen-tablet) {
      align-self: flex-start;
      margin-left: 50px;
      width: 233px;
    }

    @media (min-width: $screen-desktop) {
      margin-left: 230px;
      margin-top: 23px;
    }
  }
}
