.hits {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1150px;

  @media (min-width: $screen-desktop) {
    margin: auto;
    }

  @media (min-width: $screen-tablet) {
    padding-left: 50px;
    padding-right: 50px;
  }

  &__title {
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
    padding-right: 5px;
    font-weight: bold;
    font-size: $font-size + 10;
    color: #000000;
    z-index: 10;

    @media (min-width: $screen-tablet) {
      font-size: $font-size--h1 + 16;
    }

    @media (min-width: $screen-desktop) {
      padding-left: 20px;
      font-size: $font-size--h1 + 26;
      order: 2;
    }
  }

  &__title-wrap {
    margin-top: 27px;

    @media (min-width: $screen-tablet) {
      display: flex;
      margin-top: 55px;
    }

    @media (min-width: $screen-desktop) {
      margin-top: 133px;
      align-items: flex-end;
    }
  }

  &__week {
    text-transform: uppercase;
    font-size: $font-size + 2;
    font-weight: bold;
    line-height: $line-height--middle - 4;
    color: $color-main;

    @media (min-width: $screen-tablet) {
      margin-left: auto;
      max-width: 130px;
      text-align: center;
      line-height: $line-height--middle - 7;
    }

    @media (min-width: $screen-desktop) {
      margin-left: 20px;
      order: 1;
    }
  }

  &__descr {
    line-height: $line-height--middle;

    @media (min-width: $screen-tablet) {
      max-width: 334px;
      line-height: $line-height;
      font-size: $font-size + 2;
    }

    p {
      margin: 0;
      padding: 0;
      padding-bottom: 50px;

      @media (min-width: $screen-tablet) {
        padding-top: 20px;
        padding-bottom: 25px;
      }
    }
  }

  &__features {
    margin-top: -10px;
    margin-bottom: 29px;
    width: 260px;
    border-collapse: collapse;
    line-height: $line-height--middle - 4;

    @media (min-width: $screen-tablet) {
      margin-top: 10px;
      width: 295px;
    }

    @media (min-width: $screen-desktop) {
      margin-top: 20px;
    }
  }

  &__field {
    padding-top: 11px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-grey;
  }

  &__value {
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid $color-grey;

    @media (min-width: $screen-tablet) {
      padding-left: 0;
    }
  }

  &__product-wrap {
    position: relative;

    @media (min-width: $screen-tablet) {
      display: flex;
      flex-direction: column;
      padding-top: 35px;
    }

    @media (min-width: $screen-desktop) {
      padding-left: 175px;
      padding-top: 39px;
    }
  }
}
