.hits {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: bold;
    font-size: $font-size + 10px;
    color: #000000;
  }

  &__week {
    font-weight: bold;
    font-size: $font-size + 10px;
    line-height: $line-height--middle - 4px;
    color: $color-main;
  }

  &__descr {
    line-height: $line-height--middle - 4px;
  }

  &__features {
    line-height: $line-height--middle - 4px;
  }
}
