.manufacture {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle - 4px;
    color: #000000;
  }

  &__deskr {
    font-size: $font-size - 2px;
    line-height: $line-height--middle;
  }
}
