.menu-user {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-tablet) {
    display: flex;
    margin-left: auto;
    order: 2;
  }

  @media (min-width: $screen-desktop) {
    margin-left: 0;
  }

  &__link {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: $font-size--middle;
    line-height: $line-height--middle;
    font-weight: bold;
    color: #000000;
  }

  &__item {
    border-bottom: 1px solid $color-grey;
  }

  .page-header--no-js .menu-user {
    display: block;
  }
}
