.page-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 79px;
    border-bottom: 1px solid $color-grey;

    @media (min-width: $screen-tablet) {
      margin-right: 200px;
      margin-left: 30px;
      order: 1;
    }

    @media (min-width: $screen-desktop) {
      margin-right: auto;
      margin-left: auto;
      order: 2;
    }
  }

  &__toggle {

    @media (min-width: $screen-tablet) {
      display: none;
    }
  }
}
