.page-footer {
  background-color: $color-grey--light;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 143px;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1150px;


    @media (min-width: $screen-tablet) {
      padding-left: 50px;
      padding-right: 50px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: $screen-desktop) {
      margin: auto;
    }
  }

  &__logo {
    display: none;

   @media (min-width: $screen-tablet) {
      display: flex;
      align-self: center;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
  }

  &__copyright-developer {
    font-weight: bold;
    font-size: $font-size--middle + 2;
    line-height: $line-height--middle - 5;
    color: #000000;
  }

  &__copyright-link {
    display: block;
  }
}
