.page-main {
  display: flex;
  flex-direction: column;

  @media (max-width: $screen-tablet) {
    align-items: center;
  }

  &__title {
    display: block;
    max-width: 260px;
    margin: 0;
    padding: 0;
    padding-top: 27px;
    align-self: center;
    font-weight: bold;
    font-size: $font-size--h1;
    line-height: $line-height;
    text-align: center;
    color: #000000;

    @media (min-width: $screen-tablet) {
      max-width: 500px;
      font-size: $font-size--h1 + 16;
      line-height: $line-height + 20;
    }

    @media (min-width: $screen-desktop) {
      max-width: 615px;
      font-size: $font-size--h1 + 26;
      line-height: $line-height + 27;
    }
  }

  &__title-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    width: 100vw;
    background-color: $color-grey--light;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    width: 100%;
    background-image: url("../../img/hero-mobile@1x.jpg");
    background-color: $color-grey--middle;
    background-repeat: no-repeat;
    background-position: center 0;
  }

  &--catalog {
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    max-width: 1150px;

    @media (min-width: $screen-desktop) {
      margin: auto;
    }
  }

  &--form {
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    max-width: 1150px;

    @media (min-width: $screen-desktop) {
      margin: auto;
    }
  }
}
