.page-header {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    @media (min-width: $screen-tablet) {
      background: linear-gradient(#ffffff 88px, $color-grey--light 88px);
      z-index: 1;
    }
  }

  &--index.page-header::after {

    @media (min-width: $screen-tablet) {
      background: linear-gradient(#ffffff 84px, $color-grey--middle 84px);
    }

    @media (min-width: $screen-tablet) {
      background: linear-gradient(#ffffff 89px, $color-grey--middle 89px);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid $color-grey;
    z-index: 15;

    @media (min-width: $screen-tablet) {
      height: 84px;
    }

    @media (min-width: $screen-desktop) {
      height: 89px;
    }
  }
}
