.page-footer {
  &__wrap {
    display: flex;
    flex-direction: column;
    background-color: $color-grey--light;
  }


  &__copyright-developer {
    font-weight: bold;
    font-size: $font-size--middle + 2px;
    line-height: $line-height--middle - 5px;
    color: #000000;
  }
}
