.production {
    padding-top: 120px;

    @media (min-width: $screen-desktop) {
      margin: auto;
      width: 100%;
      max-width: 1150px;
    }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-tablet) {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    min-height: 103px;
    width: 100%;

    &--interior {
      background-color: $color-main;
    }

    &--toys {
      background-color: $color-main--dark;
    }
  }

  &__link {
    display: block;
    max-width: 120px;
    font-weight: bold;
    font-size: $font-size + 4;
    color: #ffffff;
  }
}
