.product-card {
  display: flex;
  flex-direction: column;

  @media (max-width: $screen-tablet) {
  align-items: center;
  }

  &__descr {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle;

    @media (min-width: $screen-tablet) {
      margin-left: 70px;
    }
  }

}
