.product-card {
  display: flex;
  flex-direction: column;

  @media (max-width: $screen-tablet) {
    align-items: center;
  }

  @media (min-width: $screen-desktop) {
    margin-top: 55px;
  }

  &__descr {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle;

    @media (min-width: $screen-tablet) {
      margin-left: 70px;
      padding-top: 25px;
      font-size: $font-size--middle + 3;
    }
  }

  &__photo {

    @media (min-width: $screen-tablet) {
      position: absolute;
      right: 0;
      top: 63px;
    }

    @media (min-width: $screen-desktop) {
      top: -100px;
      z-index: 1;
    }
  }

  &__btn {
    min-width: 260px;
    text-transform: uppercase;

    @media (min-width: $screen-tablet) {
      min-width: 290px;
      margin-top: 10px;
      align-self: flex-start;
    }
  }
}
