.review {

  &__add-new {
    display: block;
    padding-left: 75px;
    width: 260px;
    font-size: $font-size--middle + 1;
    line-height: $line-height--middle - 4;
  }

  &__title {
    font-weight: bold;
    font-size: $font-size + 10;
    color: #000000;
  }
}
