.review {

  &__add-new {
    display: inline-block;
    padding-left: 75px;
    font-size: $font-size--middle + 1px;
    line-height: $line-height--middle - 4px;
  }

  &__title {
    font-weight: bold;
    font-size: $font-size + 10px;
    color: #000000;
  }
}
