.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 30;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-basis: 430px;
    padding-left: 10px;
    font-size: $font-size;
    order: 3;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 10px;
    display: flex;
    flex-basis: 460px;
    order: 1;
  }

  &__link {
    display: block;
    padding-top: 25px;
    padding-bottom: 29px;
    padding-right: 3px;
    padding-left: 73px;
    font-size: $font-size--middle;
    line-height: $line-height--middle;
    font-weight: bold;
    color: #000000;

    @media (min-width: $screen-tablet) {
      padding-top: 23px;
      padding-left: 40px;
      font-size: $font-size;
    }

    @media (min-width: $screen-desktop) {
      padding-top: 30px;
      font-size: $font-size--middle;
    }
  }

  &__item {
    border-bottom: 1px solid $color-grey;

    @media (min-width: $screen-tablet) {
      border-bottom: none;
    }

    @media (min-width: $screen-desktop) {
      margin-right: 30px;
      border-bottom: 1px solid $color-grey;
    }
  }
}
