.slider {
  position: relative;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    p {
      line-height: $line-height--middle;
    }
  }

  &__author {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle;
    color: #000000;
  }

  &__social {
    font-size: $font-size--middle;
    color: #000000;
  }

  &__nav {
    display: flex;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-tablet) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    width: 130px;
    height: 52px;
    border: 1px solid $color-grey;
  }
}

