.slider {
  position: relative;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-tablet) {
      padding-top: 33px;
      padding-bottom: 10px;
    }

    @media (min-width: $screen-desktop) {
      padding-top: 36px;
    }

    p {
      margin: 0;
      padding: 0;
      padding-top: 25px;
      line-height: $line-height;

      @media (min-width: $screen-tablet) {
        font-size: $font-size--middle;
        padding-bottom: 30px;
      }
    }
  }

  &__author {
    padding-top: 30px;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle;
    color: #000000;

    @media (min-width: $screen-tablet) {
      font-size: $font-size--middle + 1;
    }

    @media (min-width: $screen-desktop) {
      padding-top: 13px;
    }
  }

  &__social {
    font-size: $font-size--middle;
    color: #000000;
  }

  &__nav {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 37px;

    @media (min-width: $screen-tablet) {
      position: absolute;
      bottom: 10px;
      right: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
  }

  &__link {
    display: block;
    width: 130px;
    height: 52px;
    border: 1px solid $color-grey;

    @media (min-width: $screen-tablet) {
      width: 80px;
    }
  }
}

