.slider {
  position: relative;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    p {
      line-height: $line-height--middle;
    }
  }

  &__author {
    font-weight: bold;
    font-size: $font-size--middle;
    line-height: $line-height--middle;
    color: #000000;
  }

  &__social {
    font-size: $font-size--middle;
    color: #000000;
  }

  &__nav {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-top: 37px;
    margin-bottom: 37px;

    @media (min-width: $screen-tablet) {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
  }

  &__link {
    display: block;
    width: 130px;
    height: 52px;
    border: 1px solid $color-grey;

    /* @media (min-width: $screen-tablet) {
      border: none;
    } */

    /* &--prev {
      background-image: url("../../img/icon-left-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
      border-right: none;
    } */

    /* &--next {
      background-image: url("../../img/icon-right-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
    } */
  }
}

