.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 40;

  @media (min-width: $screen-tablet) {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    order: 2;
  }

  @media (min-width: $screen-desktop) {
    margin-left: 0;
  }

  &__link {
    display: block;
    padding-top: 25px;
    padding-bottom: 29px;
    padding-right: 3px;
    padding-left: 75px;
    font-size: $font-size--middle;
    line-height: $line-height--middle;
    font-weight: bold;
    color: #000000;

    @media (min-width: $screen-tablet) {
      padding-top: 30px;
    }

    @media (min-width: $screen-desktop) {
      padding-top: 30px;
    }
  }

  &__link--search {
    position: relative;

    @media (min-width: $screen-tablet) {
      font-size: 0;
      padding-right: 15px;
    }
  }

  &__link--cart {
    position: relative;
  }

  &__icon-search {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 30px;
    left: 30px;

    @media (min-width: $screen-tablet) {
    top: 37px;
    left: 33px;
    }
  }

  &__icon-cart {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 20px;
    height: 19px;

    @media (min-width: $screen-tablet) {
      top: 34px;
      left: 25px;
    }
  }

  &__item {
    border-bottom: 1px solid $color-grey;
  }

  &__item-search {

    @media (min-width: $screen-tablet) {
      border-left: 1px solid $color-grey;
      border-right: 1px solid $color-grey;
    }
  }
}
