*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
.content-box-component {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {    /*Временно*/
  width: 320px;
  margin: 0 auto;
}
