$font-family: "Open Sans", Arial, Helvetica, sans-serif;

$font-size: 15px;
$font-size--h1: 27px;
$font-size--middle: 17px;

$line-height: 30px;
$line-height--middle: 24px;

$text-color: #444444;

$color-main: #63d1bb;
$color-main--dark: #56c3b2;
$color-grey: #ececec;
$color-grey--light: #f1f1f1f1;
