$font-family: "Open Sans", Arial, Helvetica, sans-serif;
$font-size--main: 15px;
$font-size--h1: 27px;
$font-size--middle: 17px;
$line-height--middle: 24px;
$line-height--main: 30px;
$text-color: #444444;
$text-color--title: #000000;
$text-color--mint: #63d1bb;
$color-grey: #ececec;
$color-white: red;
